/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* general styles */
html {
  font-size: 18px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  color: #262626;
  overflow: auto;
}

#gallery .content-wrapper, #reviews .content-wrapper, #about .content-wrapper {
  max-width: 1200px;
}

#shop .content-wrapper {
  max-width: 900px;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 1.2em 0;
}

ul, 
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #262626;
  text-decoration: none;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

/* MOBILE header styles --------------------------------------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.25em;
  color: #262626;
  margin-bottom: 0;
  text-align: center;
}

header h2 {
  margin: 0;
  text-align: center;
  font-size: 1.25em;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

nav ul li {
  padding: 0 7px;
  font-size: 1.5em;
}

nav ul li a:hover {
  color: #EB5E28;
}

/* MOBILE main styles ----------------------------------------------------- */


.hero-area {
  background: url(../img/zoey-icy-branch.png);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.features {
  width: 100%;
  height: 40px;
  background: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop {
  background-color: #DAEFF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
}

#shop h3 {
  color: #EB5E28;
}

#shop .shop-text {
  margin: 1em;
  max-width: 900px;
  text-align: center;
}

.etsy {
  background-color: #457B9D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  margin: 32px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.etsy a {
  color: #fff;
  font-size: 2em;
  font-weight: 700;

}

.local {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  margin: 32px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.local a {
  color:#457B9D;
  font-size: 1em;
  font-weight: 700;
}

.etsy p, .local p {
  padding: .5em .5em 0 .5em;
  text-align: center;
}

.etsy:hover, .local:hover {
  transform: scale(1.1);
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}


.gallery-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}


.gallery-items p {
  color: #262626;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}

.gallery-item-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../img/mud-splash.png);
}

.gallery-item-2 {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../img/waterproof.png);
}

.gallery-item-3 {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../img/kids-walking.png);
}

.gallery-item-3 p {
  padding: 1em;
}

.gallery-item-1, .gallery-item-2, .gallery-item-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 90%;
  max-width: 300px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


#reviews {
  background-color: #DAEFF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reviews .content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
}

.reviews-items {
  margin-bottom: 2em;
}

.reviews-items p {
  margin-bottom: 3em;
}

.fontawesome-icon {
  color: #EB5E28;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

.fontawesome-icon:hover {
  transform: scale(1.1);
}

#about {
  background-color: #457B9D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 64px;
}

#about img {
  width: 90%;
  max-width: 300px;
}

#about p {
  text-align: left;
  margin: 1em;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 64px;
}

#contact h3, #contact p, #contact a {
  color: #457B9D;
}

address {
  transition: all 0.3s ease-in-out;
}

address:hover {
  transform: scale(1.1);
}

/* MOBILE footer styles ------------------------------------------ */
footer {
  background-color: #DAEFF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer a {
  color:#EB5E28;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 20px;
  }

  header .content-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header .logo {
    margin-left: 20px;
  }

  nav {
    align-items: flex-end;
    height: 115px;
  }

  nav ul li {
    padding: 0 15px;
    font-size: 1.5em;
  }

  .hero-area {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .shop-buttons {
    display: flex;
  }

  .shop-buttons-retailers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features {
    background: #457B9D;
    padding: 12px 0 10px 0;
  }

  .features p {
    padding: 0 20px;
    font-size: 1.25em;
  }

  .gallery-items {
    flex-flow: row wrap;
  }

  .gallery-items p {
    opacity: 0;
  }

  .gallery-item-1 {
    background: url(../img/nat-cover-face.png);
  }
  
  .gallery-item-2 {
    background: url(../img/waterproof.png);
  }
  
  .gallery-item-3 {
    background: url(../img/kids-walking.png);
  }

  .gallery-item-4 {
    background: url(../img/yellow-rainpants-sand.png);
  }

  .gallery-item-5 {
    background: url(../img/green-rain-mitten.JPG);
  }

  .gallery-item-6 {
    background: url(../img/tossing-snow.png);
  }

  
  .gallery-item-1, .gallery-item-2, .gallery-item-3, .gallery-item-4, .gallery-item-5, .gallery-item-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 90%;
    max-width: 300px;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviews-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .reviews-items p {
    margin: 20px;
    width: 40%;
  }

  #about article {
    display: flex;
  }

  #about img {
    width: 300px;
    margin: 1em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

